#root{
    --black-color: #4a4a4a;
}

body{
    font-weight: 400 !important;
}

main {
    min-height: 80vh;
}

.multi-preview img {
    max-width: 100px;
    padding: 5px;
  }

.pad-control{
    padding: .375rem .75rem !important;
}

.w-5r{
    width: 5rem !important;
}

/*media 576 */
@media only screen and (min-width: 576px) {
    .pad-r1{
        padding-right: 1px !important;
    }

    .pad-l0{
        padding-left: 0px !important;
    }
}

/* //////////////////////////// PRODUCT DETAIL CAROUSEL //////////////////////////// */

@media only screen and (max-width: 600px) {
    .carousel .thumbs-wrapper {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .slide .carousel-div-size {
        height: 25rem;
    }
}

@media only screen and (min-width: 992px) {
    .slide .carousel-img-size {
        height: 100%;
        width: auto !important;
    }

    .pl-table-td{
        padding-left: 2rem !important;
    }

    .pl-small-table-td{
        padding-left: 0.9rem !important;
    }

    .mr-2rem{
        margin-right: 2rem !important;
    }

    .disp-block{
        display: inline !important;
    }
}

@media only screen and (min-width: 768px) {
    .slide .carousel-div-size {
        height: 30rem;
    }
}

.carousel .thumb {
    height: 80px !important;
}

.slide .carousel-center-img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    /* -ms-transform: translate(-50%, -50%); */
    transform: translate(-50%, -50%);
}

/***** CSS from https://mailtrap.io/ ******/

.header-button {
    width: 115px;
    color: var(--black-color) !important;
    --border-color: var(--black-color);
    --button-bg-color: #fff;
    --button-bg-color-hover: #9ff5df;
    --button-bg-color-active: #78f5d6;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid var(--border-color);
    border-radius: 30px;
    padding: 9px 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    /* line-height: 1.17; */
    background-color: var(--button-bg-color);
    /* box-shadow: inset 1px 1px 0 1px #fff; */
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    white-space: pre-wrap;
    text-transform: none;
    letter-spacing: 0;
}

.header-button:hover{
    background-color: var(--button-bg-color-hover);
}

.header-button:focus { 
    outline: none; 
}

.nav-link.active{ 
    background-color: var(--button-bg-color-active);
}

.header-link {
    color: var(--black-color) !important;
    --link-bg-color-hover: #9ff5df;
    display: block;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: -.09px;
    color: inherit;
    text-transform: uppercase;
    transition: color .3s;
}

.header-link:hover{
    background-color: var(--link-bg-color-hover);
}

.search-box{
    --search-bg-color-hover: #9ff5df;
    border: none !important;
    border-bottom: 1px solid #ced4da !important;
    border-radius: 0 !important;
}

.form-control:focus {
    /* change shadow text control */
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%) !important;
  }

@media only screen and (min-width: 576px) {
    .form-pad{
        padding: 1rem 3rem;
    }
}

@media only screen and (max-width: 576px) {
    .navbar-nav {   
        text-align: center;
    }

    .dropdown-menu{
        text-align: center !important;
        width: 100%;
    }

    .mlr-auto{
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .form-pad{
        padding: 1rem 1.5rem;
    }
}

.navbar-nav .nav-link {
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
}

.pad-9px{
    padding-top: 9px !important;
    padding-bottom: 9px !important;
}

@media only screen and (max-width: 991px) {
    .mt-1rem {
        margin-top: 0.7rem;
    }

    .pl-table-td{
        padding-left: 0.5rem !important;
    }

    .disp-block{
        display: block !important;
    }
}

.fw-800{
    font-weight: 800 !important;
}

.fw-600{
    font-weight: 600 !important;
}

.fw-400{
    font-weight: 400 !important;
}

.fw-500{
    font-weight: 500 !important;
}

.vert-align-midd{
    vertical-align: middle !important;
}

.w-100px{
    width: 100px !important;
}


/***** SMALL BUTTON *****/
.my-btn-small{
    width: 90px;
    color: var(--black-color) !important;
    --border-color: var(--black-color);
    --button-bg-color: #fff;
    --button-bg-color-hover: #9ff5df;
    --button-bg-color-active: #78f5d6;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid var(--border-color);
    border-radius: 30px;
    padding: 9px 0px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    /* line-height: 1.17; */
    background-color: var(--button-bg-color);
    /* box-shadow: inset 1px 1px 0 1px #fff; */
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    white-space: pre-wrap;
    text-transform: none;
    letter-spacing: 0;
}

.my-btn-small:hover{
    background-color: var(--button-bg-color-hover);
}

.my-btn-small:focus { 
    outline: none; 
}

/***** BIG BUTTON ********/
.my-btn-big{
    width: 90px;
    color: var(--black-color) !important;
    --border-color: var(--black-color);
    --button-bg-color: #fff;
    --button-bg-color-hover: #9ff5df;
    --button-bg-color-active: #78f5d6;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid var(--border-color);
    border-radius: 30px;
    padding: 9px 0px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    /* line-height: 1.17; */
    background-color: var(--button-bg-color);
    /* box-shadow: inset 1px 1px 0 1px #fff; */
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    white-space: pre-wrap;
    text-transform: none;
    letter-spacing: 0;
}

.my-btn-big:hover{
    background-color: var(--button-bg-color-hover);
}

.my-btn-big:focus { 
    outline: none; 
}

.fs-18px{
    font-size: 18px !important;
}

.fs-15px{
    font-size: 14px;
}

.fs-14px{
    font-size: 14px;
}

.fs-13px{
    font-size: 13px;
}

.fs-12px{
    font-size: 12px;
}

.lh-2{
    line-height: 2.2;
}

.lh-15{
    line-height: 1.5;
}


/****** PRODUCT CARD **********/
.view-background{
    background-color: #f2f2f3;
}

.card-pad{
    padding: 1rem 1.25rem 0.6rem 1.25rem !important;
}

/* .view{
    background-color: rgba(0,0,0,.03);
} */

.fixed-right-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

.fixed-right-top {
    position: absolute;
    top: 0;
    right: 0;
}

.curs-pointer {
    cursor: pointer !important;
}

/* https://www.html-code-generator.com/css/triangle-generator */
.triangle{
	width: 0;
	height: 0;
	border-width: 0 0 50px 50px;
	/* border-color: transparent transparent #e59bdf transparent; */
	border-style: solid;
    z-index: 1;
}

.card-style{
    border: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

/*https://codepen.io/cihadturhan/pen/BfGov */
/************* PLACEHOLDER ICON *******************/
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.mainLoginInput{
  height: 40px;
  padding: 0px;
  font-size: 30px;
  margin: 5px 0;
}

.mainLoginInput::-webkit-input-placeholder { 
font-family: FontAwesome, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
/* color: hsl(9, 40%, 60%); */
}

.mainLoginInput::-moz-placeholder  { 
font-family: FontAwesome, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
/* color: hsl(9, 40%, 60%); */
}

.mainLoginInput:-ms-input-placeholder  { 
font-family: FontAwesome, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
/* color: hsl(9, 40%, 60%); */
}

.login-control{
    background-color: #EEEEEE !important;
    padding-top: 1.3rem !important;
    padding-bottom: 1.3rem !important;
}

.mid-align{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/************ PROFILE IMAGE *************/
/* https://codepen.io/chris9753/pen/ZwpxQX */
.image-wrapper {
    padding: 100px;
  }
  
.image--cover {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  
    object-fit: cover;
    object-position: center right;
}

/* https://stackoverflow.com/questions/25685227/how-to-display-user-profile-image-in-circle */
.user {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  
    object-fit: cover;
  }

  /* https://codepen.io/azazy/pen/EgdXxG */
  .profile-pic {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: transparent;
    transition: all .3s ease;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sticky header Container - 5rem*/
.mt-5rem{
    margin-top: 5rem;
}




/******** PRODUCT CREATE SCREEN ***************/
@media only screen and (max-width: 768px) {
    .my-form-section {
        padding: 0.9rem 0.5rem !important;
    }

    .my-form-body {
        padding: 2rem 1.3rem !important;
    }
}

@media only screen and (min-width: 768px) {
    .my-form-body{
        padding: 2rem 3rem !important;
    }
}

.my-form-section {
    cursor: pointer;
    
    padding: 2rem 0.5rem;
    /* color: var(--black-color) !important; */
    /* display: block; */
    --my-form-section-bg-color: yellow;
    --my-form-section-bg-color-hover: #9ff5df;
    background-color: var(--my-form-section-bg-color);
    font-size: 15px;
    /* font-weight: 600; */
    letter-spacing: -.09px;
    color: inherit;
    text-transform: uppercase;
    transition: color .3s;
}

.my-form-section:hover{
    background-color: var(--my-form-section-bg-color-hover);
}


.my-form-label {
    /* color: var(--black-color) !important; */
    /* display: block; */
    font-size: 14px !important;
    font-weight: 600;
    letter-spacing: -.09px;
    color: inherit;
    text-transform: uppercase;

    transition: color .3s;
}

.inline-block-middle{
    display: inline-block;
    vertical-align: middle;
}

/* .my-form-body{
    padding: 2rem 3rem !important;
} */

.my-form-checkout-btn{
    width: 200px;
    color: var(--black-color) !important;
    --button-bg-color: #fff;
    --button-bg-color-hover: #9ff5df;
    --button-bg-color-active: #78f5d6;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    /* line-height: 1.17; */
    background-color: aliceblue;
    border: none;
    /* box-shadow: inset 1px 1px 0 1px #fff; */
    /* -webkit-transition: all .25s ease;
    transition: all .25s ease; */
    white-space: pre-wrap;
    text-transform: none;
    letter-spacing: 0;
    text-transform: uppercase;
}

.my-form-checkout-btn:hover{
    background-color: var(--button-bg-color-hover);
}

.my-btn-primary {
    background-color: #78f5d6 !important;
    color: black !important;
    margin: .375rem;
    color: inherit;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: .125rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    padding: .84rem 2.14rem;
    font-size: .81rem;
}

/* [type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
} */

.my-btn-primary:hover {
    color: #fff !important;
    background-color: #5a95f5 !important;
}

.my-btn-primary:hover, .my-btn-primary:focus, .my-btn-primary:active {
    outline: 0; 
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
}

/* .my-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
} */

/* .my-btn:hover {
    color: #212529;
    text-decoration: none;
} */

/**** HOmescreen *****/
.sticky-top {
    padding-top: 4rem;
}



/********************* PAGINATION *********************/
.pagination {
    justify-content: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul.pagination li {
    display: inline-block;
    width: 30px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    font-size: 25px;
  }
  
  ul.pagination li a {
    text-decoration: none;
    color: #337ab7;
    font-size: 20px;
  }
  
  ul.pagination li.active a {
    color: white;
  }
  ul.pagination li.active {
    background-color: #337ab7;
  }
  
  ul.pagination li a:hover,
  ul.pagination li a.active {
    color: blue;
  }

/* https://stackoverflow.com/questions/2852276/make-div-overlay-entire-page-not-just-viewport */
 .fadeMe {
    /* opacity:    0.7;  */
    background-color:rgba(0,0,0,.7);
    /* background: #000;  */
    width:      100%;
    height:     100%; 
    /* z-index: 1030 ma Header */
    z-index:    1050;
    top:        0; 
    left:       0; 
    position:   fixed; 
  }