body{
    font-weight: 400 !important;
}

main {
    min-height: 80vh;
}

.multi-preview img {
    max-width: 100px;
    padding: 5px;
  }

.pad-control{
    padding: .375rem .75rem !important;
}

.w-5r{
    width: 5rem !important;
}

/*media 576 */
@media only screen and (min-width: 576px) {
    .pad-r1{
        padding-right: 1px !important;
    }

    .pad-l0{
        padding-left: 0px !important;
    }
}